*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.main{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.slider{
width: 1000px;
height: 600px;
position: relative;
}

.slider img{
width: 100%;
height: 100%;
border-radius: 7px;
}

.buton{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.buton i{
color: white;
}

.buton i.hover{

    color: gray;
    }
